<h1>Table of contents</h1>

<% @chapters.each do |chapter| %>
<h3><%= chapter.title %></h3>
<ul>
  <% chapter.sections.each do |section| %>
  <li><%= link_to section.title, section_path(section) %></li>
  <% end %>
</ul>
<p><%= link_to "Add New Section", new_chapter_section_path(chapter) %></p>
<% end %>

<%= link_to "Add New Chapter", new_chapter_path %>
